I use SAAQ data on driving license and car ownerships to compute marginals for the population at the dissemination area level of resolution. These data have been made available by Jérôme Laviolette (Catherine's team). Jérôme got the data from SAAQ via simple email request.

In [ ]:
#conda install -n base ipykernel --update-deps --force-reinstall

In [ ]:
#pip install pandas numpy openpyxl

In [ ]:
#conda install geopandas

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [ ]:
#pip install openpyxl

In [2]:
def compute_age_category(age):
    if age > 80:
        result = 16
    else:
        result = age // 5 + 1
    return result

## Driving license

In [3]:
saaq_data= pd.read_excel('SAAQ_AD_donnees_all_2016.xlsx', sheet_name="2016_csv")

In [ ]:
#pip install pyogrio

In [4]:
geographical_filter = gpd.read_file('spatial/local_zoning.shp')

In [5]:
#saaq_data = pd.read_csv("../data/quebec_data/SAAQ_driving_license_car_ownership.csv", sep=";")
#saaq_data = saaq
#saaq_data = saaq_data[:-1].copy()  # Drop the last record with no specific geography
saaq_data1 = saaq_data[:-1]
saaq_data1['adidu'] = saaq_data1['adidu'].astype(int)
saaq_data1

/var/folders/v6/djhtsx5d3198mkwrr88jb6tc0000gn/T/ipykernel_4595/1430794019.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  saaq_data1['adidu'] = saaq_data1['adidu'].astype(int)

,adidu,permis_h,permis_f,permis_tot,nbadr_1permis,nbadr_2permis,nbadr_3permis,nbadr_4pluspermis,auto_elec,auto_conv,...,camleg_tot,nonprec_tot,elec_tot,conv_tot,tot_veh,nbadr_1pau,nbadr_2pau,nbadr_3pau,nbadr_4pluspau,commentaires
0,24010018,171.0,150.0,321.0,78.0,70.0,30.0,NaN,1.0,144.0,...,209.0,0.0,1.0,353.0,354.0,70.0,59.0,32.0,17.0,NaN
1,24010019,230.0,187.0,417.0,83.0,85.0,39.0,10.0,0.0,201.0,...,236.0,0.0,0.0,437.0,437.0,77.0,84.0,35.0,19.0,NaN
2,24010020,222.0,214.0,436.0,90.0,114.0,22.0,10.0,0.0,181.0,...,237.0,0.0,0.0,418.0,418.0,104.0,82.0,33.0,11.0,NaN
3,24010021,193.0,201.0,394.0,76.0,88.0,26.0,15.0,1.0,173.0,...,179.0,0.0,1.0,352.0,353.0,96.0,60.0,27.0,14.0,NaN
4,24010022,220.0,218.0,438.0,105.0,93.0,33.0,11.0,0.0,204.0,...,200.0,0.0,0.0,404.0,404.0,111.0,78.0,32.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13482,24990247,199.0,163.0,362.0,174.0,79.0,9.0,NaN,0.0,134.0,...,223.0,1.0,0.0,358.0,358.0,132.0,77.0,21.0,NaN,NaN
13483,24990248,99.0,71.0,170.0,110.0,25.0,NaN,NaN,0.0,45.0,...,115.0,0.0,0.0,160.0,160.0,76.0,26.0,6.0,NaN,NaN
13484,24990249,97.0,83.0,180.0,117.0,26.0,NaN,NaN,0.0,77.0,...,128.0,0.0,0.0,205.0,205.0,81.0,43.0,7.0,NaN,NaN
13485,24990250,105.0,88.0,193.0,152.0,18.0,NaN,NaN,0.0,75.0,...,131.0,0.0,0.0,206.0,206.0,84.0,44.0,7.0,NaN,NaN
13486,24990251,106.0,76.0,182.0,113.0,31.0,NaN,NaN,0.0,76.0,...,113.0,0.0,0.0,189.0,189.0,70.0,43.0,9.0,NaN,NaN

In [6]:
saaq_data = saaq_data[saaq_data.adidu.isin(geographical_filter.DAUID)]

In [7]:
saaq_data.drop(columns=['auto_elec','auto_conv', 'camleg_elec', 'camleg_conv', 'nonprec_elec','nonprec_conv', 'auto_tot', 'camleg_tot', 'nonprec_tot', 'elec_tot','conv_tot',
                        'commentaires'], inplace=True)

In [8]:
saaq_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6458 entries, 4266 to 11556
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adidu              6458 non-null   object
 1   permis_h           6442 non-null   float64
 2   permis_f           6439 non-null   float64
 3   permis_tot         6444 non-null   float64
 4   nbadr_1permis      6440 non-null   float64
 5   nbadr_2permis      6435 non-null   float64
 6   nbadr_3permis      5779 non-null   float64
 7   nbadr_4pluspermis  3462 non-null   float64
 8   tot_veh            6448 non-null   float64
 9   nbadr_1pau         6441 non-null   float64
 10  nbadr_2pau         6405 non-null   float64
 11  nbadr_3pau         5023 non-null   float64
 12  nbadr_4pluspau     2608 non-null   float64
dtypes: float64(12), object(1)
memory usage: 706.3+ KB

In [9]:
saaq_data.rename(columns={"permis_h":"license_sex_1", "permis_f": "license_sex_2", "permis_tot": "license", "nbadr_1permis": "hh_driving_license_1", "nbadr_2permis": "hh_driving_license_2",
                          "nbadr_3permis": "hh_driving_license_3", "nbadr_4pluspermis": "hh_driving_license_4", "tot_veh": "hh_car", "nbadr_1pau": "hh_car_1", "nbadr_2pau": "hh_car_2",
                          "nbadr_3pau": "hh_car_3", "nbadr_4pluspau": "hh_car_4"}, inplace=True)

In [10]:
saaq_data.fillna(np.random.randint(1,6), inplace=True)

In [11]:
saaq_data

,adidu,license_sex_1,license_sex_2,license,hh_driving_license_1,hh_driving_license_2,hh_driving_license_3,hh_driving_license_4,hh_car,hh_car_1,hh_car_2,hh_car_3,hh_car_4
4266,24520101,329.0,290.0,619.0,85.0,176.0,30.0,20.0,538.0,135.0,113.0,38.0,14.0
4267,24520102,222.0,198.0,420.0,69.0,121.0,24.0,9.0,389.0,80.0,99.0,24.0,9.0
4268,24520103,165.0,174.0,339.0,42.0,100.0,24.0,6.0,340.0,52.0,83.0,23.0,11.0
4269,24520104,346.0,296.0,642.0,68.0,159.0,51.0,23.0,611.0,88.0,131.0,43.0,30.0
4270,24520105,204.0,185.0,389.0,41.0,110.0,28.0,10.0,356.0,70.0,78.0,26.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11550,24750245,346.0,325.0,671.0,110.0,208.0,37.0,7.0,642.0,123.0,165.0,44.0,13.0
11551,24750247,800.0,723.0,1523.0,198.0,431.0,96.0,40.0,1419.0,259.0,336.0,100.0,44.0
11552,24750248,1410.0,1303.0,2713.0,380.0,852.0,125.0,58.0,2545.0,480.0,661.0,152.0,67.0
11555,24760050,413.0,321.0,734.0,407.0,133.0,15.0,2.0,721.0,306.0,145.0,27.0,10.0
11556,24760051,454.0,359.0,813.0,369.0,168.0,26.0,8.0,809.0,300.0,157.0,43.0,15.0

In [12]:
saaq_data = saaq_data.merge(geographical_filter, left_on="adidu", right_on="DAUID")

In [14]:
saaq_data[['DAUID', 'CTUID', 'license', 'license_sex_1', 'license_sex_2']].to_csv("output/person_license_sex.csv", index=False)

In [ ]:
saaq_data[['DAUID', 'CTUID', 'hh_driving_license_1', 'hh_driving_license_2', 'hh_driving_license_3', 
           'hh_driving_license_4','hh_car_1', 'hh_car_2', 'hh_car_3', 'hh_car_4', 'hh_car']].to_csv("output/hh_car_license.csv", index=False)

In [ ]:
saaq_data