In [1]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
from simpledbf import Dbf5

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [6]:
od41_fileloc = 'DataDonwloaded/EOD_from_Louiselle/dep_mtl_2023_02_no16_ten_1841_b2/dep_mtl_2023_02_no16_ten_1841_b2.dbf'
od_file = "DataDonwloaded/EOD_from_Louiselle/EOD/mtl18pv2c.csv"
od = pd.read_csv(od_file,delimiter=';',low_memory=False)
dbf = Dbf5(od41_fileloc)
od41 = dbf.to_dataframe()

In [7]:
od

,ipere,idu,version,media_int,provenance,date_int,deb_interv,nolog,tlog,nbper,...,busscol,taxi,train,a_pied,moto,velo,cit,au_mode,tr_adap,indet1
0,1,1010060100,18.2c,T,F,2018-09-05,01:22,101006,1.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1010060201,18.2c,T,F,2018-09-05,01:22,101006,NaN,2,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1010060202,18.2c,T,F,2018-09-05,01:22,101006,NaN,2,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1010210101,18.2c,T,F,2018-09-05,01:06,101021,1.0,2,...,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN
4,5,1010210102,18.2c,T,F,2018-09-05,01:06,101021,NaN,2,...,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393821,393822,8102580103,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
393822,393823,8102580201,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
393823,393824,8102580202,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
393824,393825,8102580301,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
393825,393826,8102580302,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
od41

,IPERE,FMEN18E,FPER18E,FPER18MCE,FDEP18E,FMEN21,FMEN26,FMEN31,FMEN36,FMEN41,...,FPER31,FPER31MC,FDEP31,FPER36,FPER36MC,FDEP36,FPER41,FPER41MC,FDEP41,REGDEMO
0,38,31.82,24.75,24.75,24.75,33.63,35.32,35.69,36.90,38.41,...,30.04,30.04,30.04,32.39,32.39,32.39,34.78,34.78,34.78,1051
1,18,51.01,49.83,49.83,49.83,51.90,51.91,52.30,52.75,53.15,...,51.86,51.86,51.73,50.83,50.83,50.61,49.96,49.96,49.74,1142
2,31,34.01,26.08,26.08,26.25,36.13,37.44,37.44,37.76,37.89,...,21.35,21.35,21.48,21.76,21.76,21.90,22.09,22.09,22.23,1121
3,114,41.42,43.29,43.29,43.81,42.01,42.15,42.16,42.37,42.54,...,37.53,37.53,41.87,34.15,34.15,38.91,31.81,31.81,36.93,1172
4,364,32.17,26.53,26.53,27.09,32.87,33.17,33.98,34.67,35.46,...,24.60,24.60,24.49,24.19,24.19,23.69,22.58,22.58,21.79,4081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393821,314480,33.76,29.67,29.67,29.91,34.22,34.22,34.37,34.62,34.83,...,26.83,26.83,27.04,26.65,26.65,26.85,26.25,26.25,26.45,1042
393822,314514,23.20,18.95,18.95,19.31,23.38,23.27,24.57,25.43,25.72,...,15.92,15.92,16.25,15.04,15.04,15.35,13.57,13.57,13.86,4071
393823,314675,40.36,50.52,50.52,50.52,41.77,41.77,41.77,41.77,41.77,...,51.65,51.65,51.65,48.84,48.84,48.84,46.60,46.60,46.60,1362
393824,314733,21.76,21.35,21.35,21.44,22.46,22.59,22.59,22.60,22.60,...,25.32,25.32,25.42,24.31,24.31,24.40,23.74,23.74,23.82,1114
393825,314795,33.62,34.76,34.76,35.84,34.29,34.14,34.25,35.32,35.80,...,38.79,38.79,39.95,41.50,41.50,42.73,42.90,42.90,44.16,3012

In [8]:
od = od.merge(od41, how='left',left_on='ipere',right_on='IPERE')
od.to_csv('DataDonwloaded/EOD_from_Louiselle/dep_mtl_2023_02_no16_ten_1841_b2/enhancedOd.csv',index=False)

In [9]:
od

,ipere,idu,version,media_int,provenance,date_int,deb_interv,nolog,tlog,nbper,...,FPER31,FPER31MC,FDEP31,FPER36,FPER36MC,FDEP36,FPER41,FPER41MC,FDEP41,REGDEMO
0,1,1010060100,18.2c,T,F,2018-09-05,01:22,101006,1.0,2,...,30.76,30.76,NaN,32.26,32.26,NaN,32.77,32.77,NaN,1072
1,2,1010060201,18.2c,T,F,2018-09-05,01:22,101006,NaN,2,...,33.56,33.56,34.45,37.67,37.67,38.63,41.02,41.02,42.03,1072
2,3,1010060202,18.2c,T,F,2018-09-05,01:22,101006,NaN,2,...,33.56,33.56,34.45,37.67,37.67,38.63,41.02,41.02,42.03,1072
3,4,1010210101,18.2c,T,F,2018-09-05,01:06,101021,1.0,2,...,51.33,51.33,52.18,52.18,52.18,52.91,53.95,53.95,54.69,1211
4,5,1010210102,18.2c,T,F,2018-09-05,01:06,101021,NaN,2,...,51.33,51.33,52.18,52.18,52.18,52.91,53.95,53.95,54.69,1211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393821,393822,8102580103,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,18.09,18.09,17.79,18.12,18.12,17.78,18.58,18.58,18.21,1042
393822,393823,8102580201,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,20.13,20.13,20.24,19.49,19.49,19.59,19.20,19.20,19.30,1042
393823,393824,8102580202,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,20.13,20.13,20.24,19.49,19.49,19.59,19.20,19.20,19.30,1042
393824,393825,8102580301,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,15.98,15.98,16.10,16.64,16.64,16.77,16.93,16.93,17.06,1042
393825,393826,8102580302,18.2c,W,W,2018-12-24,12:00,810258,NaN,3,...,15.98,15.98,16.10,16.64,16.64,16.77,16.93,16.93,17.06,1042